@use '/src/assets/scss/breakpoint';


.home {
    background-color: inherit;
    padding: 45px;
    padding-top: 2rem;
    @include breakpoint.breakpoint-custom-down(985) {
        padding: 0;
        padding-top: 5rem;
    }
}

.home-title {
    font-size: clamp(2.8rem, 1.677rem + 3.1vw, 4rem);
    font-weight: 700;
    color: #ffffff;
    line-height: 1.5;
}

.home-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: #cfcccc;
    margin-bottom: 14px;
    line-height: 1.5;

    span {
        background: #422487;
        background: linear-gradient(to right, #422487 9%, #49CF0F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.home-about {
    font-size: 1rem;
    font-weight: 400;
    background: #82877E;
    background: linear-gradient(to right, #82877E 9%, #C2C8FF 50%, #CFCFCF 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 500px;
    line-height: 1.3;
}

.home-cta--wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    a, button {
        cursor: pointer;
        display: inline-block;
        margin: 0px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: auto;
        touch-action: manipulation;
        font-size: 16px;
        font-weight: 500;
        border-radius: 6px;
        outline: none;
        padding: 12px 30px;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        -webkit-tap-highlight-color: transparent;
        border: none;
    }

    a:first-child {
        background-color: #fff;
        color: #000;
        margin-right: 14px;
        border: 1px solid #000;
    }

    a:last-child {
        background: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(101,101,101);

        span {
            margin-left: 10px;
        }
    }
}

//home projects
.home__projects {
    width: 100%;
    margin-top: 3rem;

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(101,101,101);
        line-height: 1.5;
    }
}

.home_projects__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    align-items: baseline;
    @include breakpoint.breakpoint-custom-down(985) {
        grid-template-columns: repeat(1, 1fr);
    }
}

//home blog
.home_blog {
    width: 100%;
    margin-top: 3rem;

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(101,101,101);
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}

.home_blogs__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    align-items: baseline;
    border: 1px solid rgb(101,101,101);
    border-radius: 8px;
    @include breakpoint.breakpoint-custom-down(985) {
        grid-template-columns: repeat(1, 1fr);
    }
}

//home stacks
.home_stacks {
    width: 100%;
    margin-top: 3rem;

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        color: rgb(101,101,101);
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}

.home__stacks_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    align-items: baseline;
    border: 1px solid rgb(101,101,101);
    border-radius: 8px;
    @include breakpoint.breakpoint-custom-down(985) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint.breakpoint-custom-down(580) {
        grid-template-columns: repeat(1, 1fr);
    }
}

//home more cards
.home__more {
    width: 100%;
    margin-top: 3rem;

    .home_more__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        align-items: baseline;
        @include breakpoint.breakpoint-custom-down(985) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .home_more__card {
        width: 100%;
        border: 1px solid rgb(101,101,101);
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

           svg {
                width: 40px;
                height: auto;
                object-fit: cover;
                border-radius: 8px;
                color: rgb(101,101,101);
                display: block;
                margin-bottom: 12px;
            }

            h4 {
                font-size: 1rem;
                font-weight: 700;
                color: rgb(101,101,101);
                margin-bottom: 12px;
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                color: rgb(101,101,101);
                margin-bottom: 12px;
            }

            a {
                font-size: 1rem;
                font-weight: 400;
                color: #000000;
                text-decoration: none;
                border-radius: 8px;
                padding: 8px 12px;
                background-color: #fff;
                border: 1px solid rgb(80, 79, 79);
            }
    }
}