@use '/src/assets/scss/breakpoint';

.mobile_header {
    display: none;
    @include breakpoint.breakpoint-custom-down(985) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(226, 224, 224);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        padding: 10px;
        height: clamp(3.438rem, 3.097rem + 1.7vw, 4.375rem);
    }

    .mobile_header__left {
        display: flex;
        text-decoration: none;
        figure {
            margin: 0;
            width: 40px;
            height: 40px;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 100%;
            }
        }

        .mobile_header__content {
            margin-left: 10px;
            h4 {
                font-size: 1rem;
                font-weight: 700;
                color: #000;
            }
            p {
                font-size: 0.8rem;
                color: #444343;
            }
        }
    }
}

.mobile__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-decoration: none;
    position: relative;
    z-index: 100;

    svg {
        width: 100%;
        height: auto;
        color: #444343;
    }
}