@use '/src/assets/scss/breakpoint';

//subscribe
.subscribe_card {
    background-color: inherit;
    padding: 45px;
    max-width: 1100px;  
    width: 100%;
    @include breakpoint.breakpoint-custom-down(768) {
        padding: 0;
    }
}

.subscribe_card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    background: url('/public/abstract-039.svg');
    background-size: cover;
    background-size: 10px;
    background-position: center;
    padding: 40px 20px;
    border-radius: 8px;
    
       
        h3 {
            font-size: 2rem;
            font-weight: 700;
            color: #000000;
            margin-bottom: 14px;
            line-height: 1.5;
            max-width: 600px;
            text-align: center;
        }

        .subscribe_card__form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 500px;
            position: relative;

            input {
                width: 100%;
                padding: 18px;
                border: 1px solid #000;
                border-radius: 40px;
                margin-right: 10px;
                font-size: 1rem;
                font-weight: 400;
                color: #000;
            }

            button {
                padding: 10px 20px;
                border: none;
                border-radius: 40px;
                background-color: rgb(225, 225, 227);
                color: #272626;
                font-size: 1rem;
                font-weight: 400;
                cursor: pointer;
                position: absolute;
                right: 5%;
            }
        }
}