@use '/src/assets/scss/variables';
@use '/src/assets/scss/mixins';
@use '/src/assets/scss/breakpoint';

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 24px;
    @include breakpoint.breakpoint-custom-down(985) {
        display: none;
    }
}

.sidebar--innerwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 10px 16px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgb(249, 246, 246);
    border-radius: 14px;
}

.sidebar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    margin-top: .5rem;
    text-decoration: none;

    figure {
        margin: 0;
        width: 40px;
        height: 40px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 100%;
        }
    }

    .sidebar-header {
        margin-left: 10px;
        h4 {
            font-size: 1rem;
            font-weight: 500;
            color: #040404;
        }
        p {
            font-size: 0.756rem;
            color: rgb(101,101,101);
        }
    }
}

.sidebar__top-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: auto;

    ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;

        li {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                border-radius: 5px;
                color: rgb(101,101,101);
                text-decoration: none;
                width: 100%;
                padding: 10px;

                svg:first-child {
                    margin-right: 8px;
                    font-size: 1.175rem;
                    color: rgb(101,101,101);
                }

                .sidebar__nav-text {
                    font-size: .905rem;
                    font-weight: 400;
                }

                svg:last-child {
                    margin-left: auto;
                    font-size: 1.175rem;
                    color: rgb(101,101,101);
                }
            }

            &:hover {
                background-color: rgb(232, 232, 232);
                border-radius: 5px;
                a {
                    color: rgb(25, 24, 24);
                }

                svg {
                    color: rgb(25, 24, 24);
                }
            }
        }
    }
}


.sidebar__lower-nav {
    width: 100%;
    
    ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                border-radius: 5px;
                color: rgb(101,101,101);
                text-decoration: none;

                svg {
                    font-size: 1.2rem;
                }

                span {
                    font-size: .905rem;
                    font-weight: 400;
                    margin-left: 8px;
                    margin-right: auto;
                }
            }

            &:hover {
                background-color: rgb(232, 232, 232);
                border-radius: 5px;
                a {
                    color: rgb(25, 24, 24);
                }

                svg {
                    color: rgb(25, 24, 24);
                }
            }
        }
    }
}


.sidebar {
    &__top-nav {
      ul {
        li {
          /* Normal state styles */
          
          &.list-active {
            background-color: #f5f5f5; /* Optional: light background for active item */
            
            a {
              color: black;
              font-weight: 500;
              
              .arrow_forward {
                opacity: 1;
                color: black;
              }
              
              span {
                color: black;
              }
              
              svg {
                color: black;
              }
            }
          }
        }
      }
    }
  }