@use '/src/assets/scss/breakpoint';

.blog {
    padding: 45px;
    max-width: 960px;
    padding-top: 1rem;
    @include breakpoint.breakpoint-custom-down(985) {
        padding: 0;
        padding-top: 8rem;
    }
}


.blog__top-card-wrapper {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;

    .blog__top-card {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;
        border-radius: 8px;
        margin-bottom: 20px;
        text-decoration: none;
        width: 100%;
        height: 400px;
        padding-left: 0;
        background-color: rgb(101, 101, 101);
        max-height: 340px;
        text-decoration: none;
        @include breakpoint.breakpoint-custom-down(580) {
            flex-direction: column;
            height: auto;
            padding-right: 0;
        }

        img {
            width: 60%;
            height: 100%;
            object-fit: cover;
            display: block;
            @include breakpoint.breakpoint-custom-down(580) {
                width: 100%;
                height: 200px;
            }
        }

        .blog__top-card-content {
            width: 40%;
            padding: 14px;
            @include breakpoint.breakpoint-custom-down(580) {
                width: 100%;
            }

            span {
                font-size: .8rem;
                font-weight: 400;
                color: rgb(219, 217, 217);
                margin-bottom: 10px;
            }

            h3 {
                font-size: 1.2rem;
                font-weight: 500;
                color: #fff;
                margin-bottom: 10px;
            }
        }
    }
}

.all_blogs__header {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 14px;
    line-height: 1.5;
}

.all_blogs__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 60px;
    padding: 20px;
    width: 100%;
    align-items: baseline;
    background-color: #fff;
    border-radius: 8px;
    @include breakpoint.breakpoint-custom-down(768) {
        grid-template-columns: repeat(1, 1fr);
    }
}


