@use '/src/assets/scss/breakpoint';

.all_blogs__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    width: 100%;
    text-decoration: none;

    figure {
        width: 100%;
        height: 230px;
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .all_blogs__card_details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;

        .all_blogs__card_tag {
            padding: 6px 10px;
            background-color: #ccc;
            border-radius: 18px;
            font-size: .875rem;
            font-weight: 400;
            color: #1b1a1a;
        }

        .all_blogs__card_date {
            font-size: .875rem;
            font-weight: 400;
            color: #4a4a4a;
            margin-left: 10px;
        }
    }

    .all_blogs__card_title {
        font-size: 1rem;
        font-weight: 400;
        color: #393939;
        margin-bottom: 10px;
        max-width: 90%;
        text-align: left;
        @include breakpoint.breakpoint-custom-down(580) {
            width: 100%;
            max-width: unset;
        }
    }
}